{% extends 'website/base.html' %}

{% block body %}
    <div class="container">
        <p>
            This website is designed to allow teachers to understand the different types of devices that are available.

            The rating system is out of 5 stars. They are averaged from the responses given by surveys returned by
            teachers. Only answers by teachers within the filter parameters are included in the calculation.

            A new method for evaluating the hardware has been developed and implemented on this website. The evaluation
            is separated into 10 categories. These categories are listed below with a description.
        </p>

        <h6 style="text-align: center">Clarity</h6>
            <p style="text-align: center">Is the interface simple and clear?</p>
        <h6 style="text-align: center">Cost</h6>
            <p style="text-align: center">Is the cost of the hardware worth it?</p>
        <h6 style="text-align: center">Curriculum</h6>
            <p style="text-align: center">Are curriculum resources readily obtainable?</p>
        <h6 style="text-align: center">Engagement</h6>
            <p style="text-align: center">Does the system engage and motivate the intended
                                            audience of learners? Is it fun to use?</p>
        <h6 style="text-align: center">Error Avoidance</h6>
            <p style="text-align: center">Does the program avoid errors where possible?</p>
        <h6 style="text-align: center">Feedback</h6>
            <p style="text-align: center">Does the system provide timely and constructive feedback?</p>
        <h6 style="text-align: center">Non-Threatening</h6>
            <p style="text-align: center">Does the system appear threatening? Do users feel safe in the
                knowledge that they can experiment without losing data?</p>
        <h6 style="text-align: center">Technical</h6>
            <p style="text-align: center">General issues with the hardware.</p>
        <h6 style="text-align: center">Time</h6>
            <p style="text-align: center">Do teachers have the necessary time to learn to use and teach the system
                                            effectively?</p>
        <h6 style="text-align: center">Visibility</h6>
            <p style="text-align: center">Does the user always know what is happening on the system? Is it simple to
                navigate to other parts of the system?</p>
    </div>
{% endblock %}
