{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FYP Website</title>
    <!-- Bootstrap CSS-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{% static "website/css/bootstrap.css" %}"></link>
    <link rel="stylesheet" href="{% static "website/css/gsdk.css" %}"></link>
    <link rel="stylesheet" href="{% static "website/css/pe-icon-7-stroke.css" %}"></link>
    <link rel="stylesheet" href="{% static "website/css/ct-navbar.css" %}"></link>
    <link rel="stylesheet" href="{% static "website/css/font-awesome.css" %}"></link>

        <!-- jQuery -->
    <script src="{% static "website/js/jquery-1.10.2.js" %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static "website/js/bootstrap.min.js" %}"></script>
    <script src="{% static "website/js/ct-navbar.js" %}"></script>
    <script src="{% static "website/js/gsdk-checkbox.js" %}"></script>

</head>
<body>
    {% block navbar %}
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation"> <!--<div class="navbar navbar-inverse navbar-static-top">-->
            <div class="container" style="padding-top: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                  <a class="navbar-brand navbar-brand-logo" href="/">
                      <div class="logo" style="border-radius: 0%; border: 0px">
                          <img src="{% static "website/img/logo.png" %}" height="55px">
                      </div>
                      <div class="brand" style="color: black; font-size: 25px; padding-right: 75px">Digi Choice</div>
                  </a>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="/">
                                <i class="pe-7s-home"></i>
                                <p>Home</p>
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                            <li>
                                <a href={% url 'completesurvey' %}>
                                    <i class="pe-7s-note2"></i>
                                    <p>Submit Survey</p>
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href={% url 'about' %}>
                                <i class="pe-7s-info"></i>
                                <p>About</p>
                            </a>
                        </li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li>
                                <a href={% url 'profile' user.id %}>
                                    <i class="pe-7s-id"></i>
                                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aris-expanded="false">
                                    <i class="pe-7s-angle-down-circle"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href={% url 'logout' %}>Logout</a>
                                    </li>
                                </ul>

                            </li>
                        {% else %}
                            <li>
                                <a href={% url 'login' %}>
                                    <i class="pe-7s-key"></i>
                                    <p>Login</p>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    {% block header_background %}

    {% endblock %}

    <div class="container-fluid" style="padding-bottom: 100px; background: #ffffff; position:relative;" id="site-wrapper">
        {% block body %}

        {% endblock %}
    </div>

    <footer>
        <div class= "navbar navbar-default navbar-static-bottom" role="navigation">
            <div class="container">
                <div class="navbar-text pull-left">
                    Electrical Engineering FYP
                </div>
                <!--Below is the copyright information for the site. You can fill in your own here.-->
                <div class="navbar-text pull-right">
                    &copy; Jarred Benham
                </div>
                <div class="navbar-text pull-right">
                    Background photo by Émile Perron on Unsplash
                </div>
            </div>
        </div>
    </footer>




</body>
</html>