{% extends 'website/base.html' %}

{% block body %}
    <div class="container">
        {% if remoteuser == user %}
            <h1>{{ user.first_name }} {{ user.last_name }}</h1>

            <p> State: {{ userprofile.state }} </p>
            <p> Year Levels: {{ userprofile.yearLevels }} </p>
            <h4>You teach the following subjects.</h4>
            <ul>
                {% for subject in subjectsTaught %}
                    <li>{{ subject.subject }}</li>
                {% endfor %}
            </ul>
            <p> Class Size: {{ class }} </p>
            <p> Technology Background: {{ techBackground }} </p>
            <p> Programming Background: {{ programmingBackground }} </p>
            <h4>You use the following hardware.</h4>
            <ul>
                {% for device in hardwareUsed %}
                    <li>{{ device.name }}</li>
                {% endfor %}
            </ul>

            </br>
            <h4>You have submitted questionnaires for the following hardware.</h4>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                {% for response in questionnaires %}
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                          <h4 class="panel-title">
                            {{ response.hardware }}
                            <a class="btn btn-default collapsed pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ response.id }}" aria-expanded="true" aria-controls="collapse{{ answer.id }}">
                                <span class="caret"></span>
                            </a>
                            <br></br>
                          </h4>
                        </div>
                        <div id="collapse{{ response.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse{{ response.id }}">
                          <div class="panel-body">
                            {% for category in categories %}
                                <h6> {{ category.name }}</h6>
                                {% for answer in answers %}
                                    {% if answer.question.topic == category %}
                                        {% if answer.response.hardware == response.hardware %}
                                            <p>{{ answer.question.question }} : {{ answer.body }}</p>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}

                            <a class="btn btn-danger" href="{% url 'delete_survey' id=response.id %}">Delete</a>

                          </div>
                        </div>
                      </div>
                {% endfor %}
            </div>
        {% else %}
            <h5>You are not authorised to view this page.</h5>
        {% endif %}

    </div>
{% endblock %}