{% extends 'website/base.html' %}

{% block body %}
    <div class="container">
        <h1>{{ user.first_name }} {{ user.last_name }}</h1>

        <p> State: {{ userprofile.state }} </p>
        <p> Year Levels: {{ userprofile.yearLevels }} </p>
        <h4>You teach the following subjects.</h4>
        <ul>
            {% for subject in subjectsTaught %}
                <li>{{ subject.subject }}</li>
            {% endfor %}
        </ul>
        <p> Class Size: {{ class }} </p>
        <p> Technology Background: {{ techBackground }} </p>
        <p> Programming Background: {{ programmingBackground }} </p>
        <h4>You use the following hardware.</h4>
        <ul>
            {% for device in hardwareUsed %}
                <li>{{ device.name }}</li>
            {% endfor %}
        </ul>

        </br>
        <h4>You have submitted questionnaires for the following hardware.</h4>
        {% for answer in questionnaires %}
            <p>{{ answer.hardware }}</p>
        {% endfor %}
    </div>
{% endblock %}