{% extends 'website/base.html' %}

{% block body %}
<div class="container">
    <form action="" method="post">
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        
        <p><label>Old password:</label> {{ form.old_password }}</p>
        {{ form.old_password.errors}}

        <p><label>New password:</label>{{ form.new_password1 }}</p>
            {{ form.new_password1.errors}}

        <p><label>Reenter new password:</label>{{ form.new_password2 }}</p>
            {{ form.new_password2.errors}}

            <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
{% endblock %}
